@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");$general-white-color: #FFFFFF;

$background-color: #242333;
$standard-seat-color: #444451;
$selected-seats: #52C78E;
$occupied-seats: #C75252;
$box-shadow-color: rgba(255, 255, 255, 0.7);
$showcase-color: rgba(0, 0, 0, 0.1);
$showcase-col: #777777;
$text-color: #52C78E;

* {
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    color: $general-white-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Lato", sans-serif;
    margin: 0;

    .movie-container {
        margin: 20px 0;
    

    select {
        background-color: $general-white-color;
        border: 0;
        border-radius: 5px;
        font-size: 14px;
        margin-left: 10px;
        padding: 5px 15px 5px 15px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        }
    }

    .container {
        perspective: 1000px;
        margin-bottom: 30px;
    }

    .seat {
        background-color: $standard-seat-color;
        height: 24px;
        width: 30px;
        margin: 3px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        &.selected {
            background-color: $selected-seats;
        }

        &.occupied {
            background-color: $occupied-seats;
        }

        &:nth-of-type(2) {
            margin-right: 18px;
        }

        &:nth-last-of-type(2) {
            margin-left: 18px;
        }

        &:not(.occupied):hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }

    .showcase {
        background-color: $showcase-color;
        padding: 5px 10px;
        border-radius: 5px;
        color: $showcase-col;
        list-style-type: none;
        display: flex;
        justify-content: space-between;

        &.seat:not(.occupied):hover {
            cursor: pointer;
            transform: scale(1);
        }

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 10px;

            small {
                margin-left: 2px;
            }
        }

    }

    .row {
        display: flex;
    }

    .screen {
        background-color: $general-white-color;
        height: 150px;
        width: 100%;
        margin: 15px 0;
        transform: rotateX(-45deg);
        box-shadow: 0 3px 10px $box-shadow-color;
    }

    p.text {
        margin: 5px 0;

        span {
            color: $text-color;
        }
    }

}