* {
    margin: 0;
    padding: 0;
}

body {
  background-image: url('casinobg.jpg');
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

h1 {
    justify-self: center;
    margin-top: 3%;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px;
}

.terninger {
  align-items: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto;
  justify-content: center;
  padding: 2rem;
  perspective: 600px;
  margin-top: -3%;
}

.t-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-self: center;
  height: 6rem;
  list-style-type: none;
  transform-style: preserve-3d;
  width: 6rem;
}

.even-roll {
  transition: transform 1.5s ease-out;
}

.odd-roll {
  transition: transform 1.25s ease-out;
}

.terning {
  background-color: #a31826;
  box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.2),
    inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  padding: 1rem;
  width: 100%;
}

.dot {
  align-self: center;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
  display: block;
  height: 1.25rem;
  justify-self: center;
  width: 1.25rem;
}

.even-roll[data-roll="1"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="2"] {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}

.even-roll[data-roll="4"] {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}

.even-roll[data-roll="5"] {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="6"] {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}

.odd-roll[data-roll="1"] {
  transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}

.odd-roll[data-roll="2"] {
  transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}

.odd-roll[data-roll="3"] {
  transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}
.odd-roll[data-roll="4"] {
  transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}

.odd-roll[data-roll="5"] {
  transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}

.odd-roll[data-roll="6"] {
  transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
}

[data-side="1"] {
  transform: rotate3d(0, 0, 0, 90deg) translateZ(4rem);
}

[data-side="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(4rem);
}

[data-side="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(4rem);
}

[data-side="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(4rem);
}

[data-side="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(4rem);
}

[data-side="6"] {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(4rem);
}

[data-side="1"] .dot:nth-of-type(1) {
  grid-area: five;
}

[data-side="2"] .dot:nth-of-type(1) {
  grid-area: one;
}

[data-side="2"] .dot:nth-of-type(2) {
  grid-area: nine;
}

[data-side="3"] .dot:nth-of-type(1) {
  grid-area: one;
}

[data-side="3"] .dot:nth-of-type(2) {
  grid-area: five;
}

[data-side="3"] .dot:nth-of-type(3) {
  grid-area: nine;
}

[data-side="4"] .dot:nth-of-type(1) {
  grid-area: one;
}

[data-side="4"] .dot:nth-of-type(2) {
  grid-area: three;
}

[data-side="4"] .dot:nth-of-type(3) {
  grid-area: seven;
}

[data-side="4"] .dot:nth-of-type(4) {
  grid-area: nine;
}

[data-side="5"] .dot:nth-of-type(1) {
  grid-area: one;
}

[data-side="5"] .dot:nth-of-type(2) {
  grid-area: three;
}

[data-side="5"] .dot:nth-of-type(3) {
  grid-area: five;
}

[data-side="5"] .dot:nth-of-type(4) {
  grid-area: seven;
}

[data-side="5"] .dot:nth-of-type(5) {
  grid-area: nine;
}

[data-side="6"] .dot:nth-of-type(1) {
  grid-area: one;
}

[data-side="6"] .dot:nth-of-type(2) {
  grid-area: three;
}

[data-side="6"] .dot:nth-of-type(3) {
  grid-area: four;
}

[data-side="6"] .dot:nth-of-type(4) {
  grid-area: six;
}

[data-side="6"] .dot:nth-of-type(5) {
  grid-area: seven;
}

[data-side="6"] .dot:nth-of-type(6) {
  grid-area: nine;
}

.rollbtn {
  align-self: center;
  border: none;
  justify-self: center;
  padding: 4rem 4rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 70px;
  background-color: red;
  box-shadow: 0 10px 0 darkred;
}

button:hover {
cursor: pointer;
}

.rollbtn:active {
    background: #e94242;
    -webkit-box-shadow: inset 0px 0px 5px #e94242;
       -moz-box-shadow: inset 0px 0px 5px #e94242;
            box-shadow: inset 0px 0px 5px #e94242;
     outline: none;
  }

.butn {
    align-self: center;
    border: none;
    justify-self: center;
    padding: 1rem 1rem;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 50px;
    color: white;
    background-color: red;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
}

label {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  align-self: center;
  justify-self: center;
  color: #ffffff;
  margin-top: -5%;
}

.Spiller1 {
    justify-self: center;
    align-self: center;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.Spiller2 {
    justify-self: center;
    align-self: center;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.rule {
    position: absolute;
    background-color: #a31826;
    width: 375px;
    height: 470px;
    margin-left: 2%;
    top: 22%;
    color: white;

    h2 {
        text-align: center;
        padding-top: 1rem;
        text-transform: uppercase;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 600;
        font-size: 28px;
    }

    li {
        padding-top: 1rem;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 600;
        font-size: 19px;
        margin-left: 7%;
        margin-top: 1.5rem;
    }
}

@media (min-width: 900px) {
  .terninger {
    perspective: 1300px;
  }
}